<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Computers</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Computers</h1>
        <table>
            <thead>
                <tr>
                    <th>Computer ID</th>
                    <th>Computer Name</th>
                    <th>Factory ID</th>
                    <th>Country</th> <!-- Добавлен столбец для страны -->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="computer : ${computers}">
                    <td th:text="${computer.computerId}"></td>
                    <td th:text="${computer.name}"></td>
                    <td th:text="${computer.factoryId}"></td>
                    <td th:text="${computer.countryName}"></td> <!-- Здесь выводим countryName -->
                    <td>
                        <a th:href="@{/computers/edit/{id}(id=${computer.computerId})}">Edit</a>
                        <a th:href="@{/computers/delete/{id}(id=${computer.computerId})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/computers/add" class="add-button">Add Computer</a>
        <a href="/" class="home-button">Home</a> <!-- Added Home Button -->
    </div>
</body>
</html>
