<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Factory</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Edit Factory</h1>
        <form th:action="@{/factories/update/{id}(id=${factory.factoryId})}" th:object="${factory}" method="post">
            <label for="name">Factory Name:</label>
            <input type="text" id="name" th:field="*{name}" required>

            <label for="countryId">Country ID:</label>
            <input type="number" id="countryId" th:field="*{countryId}" required>

            <label for="computerName">Computer Name:</label>
            <input type="text" id="computerName" th:field="*{computerName}" required>

            <button type="submit">Update Factory</button>
        </form>
        <a href="/factories">Back to Factories</a>
    </div>
</body>
</html>
