<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Computer</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Edit Computer</h1>
        <form th:action="@{/computers/update/{id}(id=${computer.computerId})}" th:object="${computer}" method="post">
            <label for="name">Computer Name:</label>
            <input type="text" id="name" th:field="*{name}" required>

            <label for="factoryId">Factory ID:</label>
            <input type="number" id="factoryId" th:field="*{factoryId}" required>

            <button type="submit">Update Computer</button>
        </form>
        <a href="/computers">Back to Computers</a>
    </div>
</body>
</html>
